/* ProfilePage.css */

:root {
    --primary-color: #000000; /* Black */
    --secondary-color: #baa45b; 
    --third-color:#f2b900
    /* Yellow */
  }

  

.profile-page-container {
    display: flex;
    flex-direction: column;


  }
  .user-info-container{
    display: flex;
  }

  .user-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .user-info-container,
  .projects-container,
  .contributors-container {
    margin-bottom: 60px;
    max-width: 100%;
    padding: 30px 0;
    border: 1px solid var(--primary-color); 
    border-radius: 4px;

    
  }
  .user-info-container,
  .projects-container,
  .contributors-container {
    width: 100%;
 
  }
  
  .project-list,
  .contributor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 0 auto;
    width: 95%;

  }
  


  .project-item {
    width: calc(30.4%);
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 20px; /* Increase the padding to create a nice box */
    border-radius: 8px; /* Increase the border radius for rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: background-color 0.2s ease; /* Add a smooth transition on hover */
  }

  .project-item:hover {
    background-color: #f0f0f0; /* Slightly darken the background color on hover */
    cursor: pointer;
  }

  

  .contributor-item {
    width: calc(22%);
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;

  }
  
  .main-title{
    text-align: center;
    margin-bottom: 40px;
    color: var(--third-color);
    font-size: 32px;
  }

  .text-center{
    text-align: center;
  }
  .text-center button {
    margin: 20px 0;
    background-color: var(--secondary-color); /* Use yellow color for button background */
    color: var(--primary-color); /* Use black color for button text */
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .text-center button:hover {
    background-color: #f2b900; /* #f2b900Slightly darken the yellow color on hover */
  }


  
  /* Add more styles as needed */
  